@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color:black !important;
}

.brand-logo, h2{
  font-family: 'Grand Hotel', cursive;
  margin-left: 10%;
}

.auth-card{
  padding:20px;
  text-align: center;
  max-width: 450px;
  margin: 30px auto;
}

input:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.signbtn{
  padding: 20px;
}
.gallary{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around !important;
}

.item{
  width: 350px;
  height: 350px;
}

.home-card{
  max-width: 650px;
  height: max-content;
  margin:auto;
  margin-bottom: 20px;
}
.home{
  margin-top: 30px; 
}

.sidenav{
  width: 100px;
}

.create{
  padding:20px;
  text-align: center;
  max-width: 650px;
  margin: 10px auto;
}



#toast-container{
  top:30px;
  right:20px;
  left:auto !important;
}

.nav-links{
  margin-right: 15%;
}


.material-icons:hover{
  cursor: pointer;
}

.loading{
  margin-top: 15%;
  margin-left: 40%;
  margin-right: 35%;
  font-family: Arial, Helvetica, sans-serif !important;
}

.collection-item{
  width: 100%;
}

.button-btn {
  position: absolute;
  top: 50%;
}